DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
PORT=5000
JWT_SECRET=generate-a-long-random-string
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
